@model ASM.Models.DonHang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc là muốn xóa điều này không?</h3>
<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.DiaChi)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tongtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangthaiDonhang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangthaiDonhang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DonhangId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại danh sách</a>
    </form>
</div>
