@model ASM.Models.NguoiDung

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc là muốn xóa không?</h3>
<div>
    <h4>NguoiDung</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NguoiDungId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại danh sách</a>
    </form>
</div>
